
@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized</h2>
<p>Sorry - you are not in the correct AD Group to access this page</p>
<p>The groups you need for PROD are:</p>
<ul>
    <li>QNRL\asdfsdf</li>
</ul>

